# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage
*.lcov
.nyc_output

# Dependency directories
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm
.eslintcache
.stylelintcache

# dotenv environment variable files
.env
.env.*
!.env.example

# parcel-bundler cache
.cache
.parcel-cache

# Next.js/Nuxt.js/Sveltekit/Vite
.next
out
.nuxt
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus

# Firebase/Serverless
.firebase/
.serverless/

# Vite logs files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
